
._.DS_Store
._Assignments
._Concepts of programming languages by Sebesta, Robert W (z-lib.org).pdf
._file IO in perl.txt
._gcc-11.2.0-64.exe
._Programs
._Slides
._termProject-2.doc
.DS_Store
Assignments/._assignment1-1.doc
Assignments/._assignment1.doc
Assignments/._assignment2-1.docx
Assignments/._assignment2.docx
Assignments/._assignment3-1.docx
Assignments/._assignment3.docx
Assignments/._assignment4-1.docx
Assignments/._assignment4.docx
Assignments/._assignment5-3.docx
Assignments/._assignment5.docx
Assignments/._assignment6-1.docx
Assignments/._assignment6.docx
Assignments/._assignment7-1.docx
Assignments/._assignment7.docx
Assignments/._assignment8-2.docx
Concepts of programming languages by Sebesta, Robert W (z-lib.org).pdf
gcc-11.2.0-64.exe
Programs/._acmClub.f95
Programs/._array.f95
Programs/._bad.txt
Programs/._copy
Programs/._copyCost.f90
Programs/._copyCostFunction.f90
Programs/._cylinder.f95
Programs/._data.txt
Programs/._examScores.f95
Programs/._exercise
Programs/._exercise.f90
Programs/._exerciseSubroutine.f90
Programs/._Fortran
Programs/._hypotenuse.f95
Programs/._Perl
Programs/._readFile.f95
Programs/._readFile.zip
Programs/._readFileScores.f95
Programs/._test.f90
Programs/._triangle
Programs/._triangle.f90
Programs/Fortran/._acmMember.f95
Programs/Fortran/._array.f95
Programs/Fortran/._bad.txt
Programs/Fortran/._copy
Programs/Fortran/._copyCost.f90
Programs/Fortran/._copyCostFunction.f90
Programs/Fortran/._cylinder.f95
Programs/Fortran/._data.txt
Programs/Fortran/._data2.txt
Programs/Fortran/._examScores.f95
Programs/Fortran/._exercise
Programs/Fortran/._exercise.f90
Programs/Fortran/._exerciseSubroutine.f90
Programs/Fortran/._hypotenuse.f95
Programs/Fortran/._readFile.f95
Programs/Fortran/._readFile.zip
Programs/Fortran/._readFileScores.f95
Programs/Fortran/._recordEx.f95
Programs/Fortran/._test.f90
Programs/Fortran/._triangle
Programs/Fortran/._triangle.f90
Programs/Perl/._assignment7.pl
Programs/Perl/._hello.pl
Programs/Perl/._print.pl
Programs/Perl/._rectangles.pl
Programs/Perl/._webpage
Programs/Perl/webpage/._index.html
Programs/Perl/webpage/._peep.jpg
Programs/Perl/webpage/._processRectangle.pl
Programs/Perl/webpage/._processRectangleV2.pl
Programs/Perl/webpage/._rectangleForm.html
Programs/Perl/webpage/._rectangles.txt
Programs/Perl/webpage/._styles.css
Slides/._lesson1.ppt
Slides/._lesson2.pptx
Slides/._lesson3.pptx
Slides/._lesson4.ppt
Slides/._lesson5.pptx
Slides/._lesson6.ppt
Slides/lesson1.ppt
Slides/lesson2.pptx
Slides/lesson3.pptx
Slides/lesson4.ppt
Slides/lesson5.pptx
Slides/lesson6.ppt
Programs/readFile.zip
Programs/triangle
Programs/Perl/webpage/peep.jpg
termProject-2.doc
Programs/Fortran/triangle
Programs/Fortran/readFile.zip
Programs/Fortran/exercise
Programs/Fortran/copy
Programs/exercise
Programs/copy
Assignments/assignment8-2.docx
Assignments/assignment7.docx
Assignments/assignment7-1.docx
Assignments/assignment6.docx
Assignments/assignment6-1.docx
Assignments/assignment5.docx
Assignments/assignment5-3.docx
Assignments/assignment4.docx
Assignments/assignment4-1.docx
Assignments/assignment3.docx
Assignments/assignment3-1.docx
Assignments/assignment2.docx
Assignments/assignment2-1.docx
Assignments/assignment1.doc
Assignments/assignment1-1.doc
